{{#extends 'base'}}

{{#block 'content'}}
<h1> Add new product</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Model</th>
            <th>description</th>
            <th>Shoe Type</th>
            <th>Brand</th>
            <th>Gender</th>
            <th>Materials</th>
            <th>Image</th>
        </tr>

    </thead>
    <tbody>
        {{#each shoes}}
            <tr>
                <td>
                    {{this.id}}
                </td>
                <td>
                    {{this.model}}
                </td>
                <td>
                    {{this.description}}
                </td>
                <td>
                    {{this.shoe_type}}
                </td>
                <td>
                    {{this.brand.brand}}
                </td>
                 <td>
                    {{this.gender.gender}}
                </td>
                <td>
                {{#each this.materials}}
                    <span class="badge bg-primary">{{this.materials}}</span>
                {{/each}}
                </td>
               <td>
            {{!-- <img src='{{this.image_url}}' alt='shoe image' /> --}}
            <img src='{{this.thumbnail_url}}' alt='shoe image' />
          </td>
            <td>
                <a href="/products/{{this.id}}/variants" class="btn btn-warning btn-sm">Variants</a>
                <a href="/products/{{this.id}}/update" class="btn btn-primary btn-sm">Update</a>
                <a href="/products/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
            </td>
            </tr>
        {{/each}}
    </tbody>
</table><br>
    <a href="/products/create" class="btn btn-danger btn-sm">Add new products</a>
{{/block}}
{{/extends}}