{{#extends 'base'}}

{{#block 'content'}}
<h1> Variant</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>model</th>
            <th>description</th>
            <th>Shoe Type</th>
            <th>img</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {{shoes.id}}
            </td>
            <td>
                {{shoes.model}}
            </td>
            <td>
                {{shoes.description}}
            </td>
            <td>
                {{shoes.shoe_type}}
            </td>
              <td>
            <img src='{{shoes.thumbnail_url}}' alt='shoe image' />
            </td>
        </tr>
    </tbody>
</table><br>
  <a href="/products/{{shoes.id}}/variants/create" class="btn btn-primary btn-sm">Add variant</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cost</th>
            <th>Stock</th>
            <th>Colors Type</th>
            <th>Size</th>
            <th>Image</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        {{#each variants}}
        <tr>
            <td>
                {{this.id}}
            </td>
            <td>
                {{this.cost}}
            </td>
            <td>
                {{this.stock}}
            </td>
            <td>
                {{this.color.color}}
            </td>
            <td>
                {{this.size.size}}
            </td>
            <td>
               <img src='{{this.thumbnail_url}}' alt='shoe image' />
            </td>
            <td>
                <a href="/products/{{this.shoe_id}}/variants/{{this.id}}/update" class="btn btn-primary btn-sm">Edit</a>
                <a href="/products/{{this.shoe_id}}/variants/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
                <a href="/carts/{{this.id}}/add" class="btn btn-danger btn-sm">Add to cart</a>

            </td>
        </tr>
        {{/each}}

    </tbody>
</table><br>
{{/block}}
{{/extends}}